body {
  background-color:#ccf2ff;
}

.jumbotron {
  background-color:#ccfff2;
  margin-top: 30px;
}

#fish {
  max-width: 200px;
}


#output1 {
  font-size: 1em;
}

#output2 {
  font-size: 2em;
  font-weight: bold;
}

#suggestion {
    display: none;
    background-color: #ffffcc;
    padding-left:10px;
}
